{% extends 'base.html' %}
{% block title %} Long Quotes {% endblock %}

{% block content %}
<div class="container my-5">
    <div class="p-1 text-center bg-dark rounded-3">
        <h1 class="text-warning"><a href="/{{quote.author}}/quotes"
                                    class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{
            quote.author }}</a></h1>
        <p class="col-lg-8 mx-auto fs-5 text-light">
            <b>{{ quote.content }}</b>
        </p>
        <div class="d-inline-flex gap-2 mb-4">
            <a class="btn btn-outline-primary btn-lg px-4 rounded-pill" href="{{ url_for('long_quote') }}">
                Another quote
            </a>
        </div>
    </div>
</div>
{% endblock %}