{% extends 'base.html' %}
{% block title %}Quotes{% endblock %}
{% block content %}
<div class="container">
    <center><h1>List of 5 quotes</h1></center>
    <ul class="list-group">
        {% for quote in quotes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h5>{{ quote.content }}</h5>
            <span class="badge bg-success"><b><a href="/{{ quote.author }}/quotes"
                                                 style="text-decoration: none; color: white">{{ quote.author }}</a></b></span>
        </li>
        {% endfor %}
    </ul>
    <br>

</div>
{% endblock %}